.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.dmrc
.dotnet/
.fzf/
.lesshst
.local/
.mozilla/
.pki/
.ssh/
.sudo_as_admin_successful
.thunderbird/
.vscode/
.wget-hsts
.xsession-errors
.xsession-errors.old
.zsh_history
.arduino15/
.config/gtk-2.0/
.java/
.jssc/
.oracle_jre_usage/
.python_history
Arduino/
arduino-1.8.19/
Descargas/
Documentos/

# Ignore specific files in .config folder
.config/zsh/plugins/*
.config/autostart
.config/caja
.config/cinnamon-monitors.xml
.config/cinnamon-session
.config/Code
.config/discord
.config/Electron
.config/enchant
.config/evolution
.config/menus
.config/mimeapps.list
.config/obsidian
.config/Postman
.config/pulse
.config/qt5ct
.config/README.md
.config/spotify
.config/sticky
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wiregui
.config/cinnamon-monitors.xml~
.config/dconf/
.config/nemo/
.config/libreoffice/
.config/flameshot/
.linuxmint/
